/* this is the CSS for  for   Main Container  */
.main-container {
  display: flex;
  flex-direction: row;
  /* align-items: stretch; */
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
  /* flex-wrap: wrap; */
  /* box-sizing: border-box; */
}




/* this is the css for Input container */
.code-input-container {
  width: 50%;
  flex: 1;
  height: 500px;
  font-family: 'Fira Code', 'Fira Mono', monospace;
  font-size: 14px;
  background-color: #f4f4f4;
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px;
  resize: vertical;
  /* height: 600px;
    max-height: 600px; */
  margin: 0px 10px;
}




/* this is the css for Output container */
.code-output-container {
  display: inline-block;
  width: 50%;
  flex: 1;
  margin-left: 10px;
  padding: 10px;
  background-color: #2b2b2b;
  border-radius: 4px;
  resize: vertical;
  /* height: 600px;
    max-height: 600px; */
}
pre.code-output-container.language-javascript {
  margin: 0px 10px;
  background: #f4f4f4;
  border: 3px solid black;
  border-radius: 10px;
  height: 509px;
}



/* this css property is for hiding scroll bar */
::-webkit-scrollbar {
  display: none;
}